/* ----------------- Hamburger menu ----------------- */

.burger {
  position: relative;
  width: 32px;
  height: 24px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: hsla(var(--white), 1);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 23px;
  left: 5px;
}

/* ----------------- Sidebar ----------------- */

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: hsla(var(--brand-blue), 1); */
  z-index: 99;
}

.sidebar_header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share_btn{
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_page_title{
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  color: hsla(var(--white), 1);
  text-align: center;
}

.sidebar_navigation_wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100vh;
  z-index: 99;

  opacity: 1;
}

.sidebar_overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: hsla(var(--black), 0.78);
  z-index: 97;
  opacity: 1;
  transition: opacity 0.15s cubic-bezier(.39,.03,.83,.37);
  
}

.sidebar_navigation{
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(var(--brand-blue), 1);
  background-image: url("../assets/img/fundo\ app.fw\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 80vw;
  height: 100vh;
  z-index: 98;
  padding: 3.375rem 0rem; /* 54px 16px */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s cubic-bezier(.39,.03,.83,.37) 0.15s;
  opacity: 1;
  overflow-y: auto;

  &::-webkit-scrollbar{
    width: 4px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb{	
    background: hsla(var(--white), 1);
    border-radius: 2px;
  }
}


.sidebar_navigation_wrapper[data-state="closed"]{
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(.39,.03,.83,.37) 0.3s;
  & .sidebar_overlay{
    opacity: 0;
  }

  & .sidebar_navigation{
    transform: translateX(-100%);
  }
}

body:has(.sidebar_navigation_wrapper[data-state="open"]) {
  overflow: hidden;
}

.sidebar_navigation_wrapper[data-state="open"]{
  opacity: 1;
  user-select: auto;
  pointer-events: all;
  & .sidebar_overlay{
    opacity: 1;
    transition-timing-function: cubic-bezier(.29,.9,.83,1);
  }

  & .sidebar_navigation{
    transform: translateX(0);
    transition-timing-function: cubic-bezier(.29,.9,.83,1);
  }
}

.sidebar_logo{
  max-width: 92px;
}

.sidebar_navigation_list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar_navigation_item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 1rem; /* 16px */
  color: hsla(var(--white), 1);
  font-size: 1rem; /* 16px */
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid hsla(var(--white), 0.1);
  transition: all 0.3s cubic-bezier(.39,.03,.83,.37);
  & .sidebar_navigation_item_inner{
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

  &:hover{
    background-color: hsla(var(--white), 0.1);
  }
}

.sidebar_social_links{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  padding: 1rem; /* 16px */
  color: hsla(var(--white), 1);
  font-size: 1rem; /* 16px */
  font-weight: 700;
  text-decoration: none;
  list-style-type: none;
  margin-top: auto;

  & li:last-child{
    margin-left: auto;
  }
}

/* ----------------- Home page ----------------- */

.home_background{
  background-image: url("../assets/svg/background-app-transparent.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100dvh;
}

.home_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* -navbar-h actually is the height of the navbar + the distance from the top */
  padding: calc(var(--navbar-h, 0) + 2.5rem) 1.25rem; /* getting the navbar height from js + 20px */
}

.home_main_logo{
  max-width: 248px;
}

.home_infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.stream_status{
  color: hsla(var(--white), 1);
  font-size: 0.8125rem; /* 13px */
  font-weight: 300;
  text-align: center;
  padding: 0.25rem 0.5rem; /* 4px 8px */
  border: 1px solid hsla(var(--white), 1);
  border-radius: 99px; /* 4px */
  margin-top: 2.25rem;
  display: inline-flex;
}

.stream_infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  text-align: center;
  & .stream_name{
    font-weight: 600;
    color: hsla(var(--white), 1);
    font-size: 0.9375rem; /* 15px */
  }
  & .stream_description{
    font-size: 0.75rem; /* 12px */
    font-weight: 300;
    color: hsla(var(--white), 1);

    & .stream_owner_name{
      font-weight: 600;
    }
  }
}

/* ----------------- Home action buttons ----------------- */
.home_buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem; /* 12px */
  margin-top: 2.5rem; /* 40px */
}

.home_action_btn{
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  align-items: center;
  justify-content: center;
  padding: 1.125rem 0.75rem 0.625rem; /* 8px 12px */
  border-radius: 0.5rem; /* 8px */
  background-color: hsla(var(--black), 0.3);
  color: hsla(var(--white), 1);
  font-size: 0.75rem; /* 12px */
  font-weight: 600;

  min-width: 108px;

  transition: all 0.15s ease-in-out;
  & svg{
    width: 24px;
    height: 24px;
  }
  &:hover{
    background-color: hsla(var(--black), 0.6);
  }
}

/* ----------------- Music player footer ----------------- */

.music_player{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100dvw;
  background-color: hsla(var(--white), 1);
  color: hsla(var(--black), 1);
  padding: 1.5rem 1.25rem; /* 24px */
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 24px */

  border-radius: 1.875rem 1.875rem 0rem 0rem; /* 30px */
}

.music_info_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem; /* 24px */
}

.music_info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* 8px */

  & figcaption .music_status{
    font-size: 0.8125rem; /* 13px */
    font-weight: 700;
  }

  & figcaption .music_name{
    font-weight: 300;
    font-size: 0.875rem; /* 14px */
  }
}

.music_play_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(var(--black), 1);
  padding: 1rem; /* 16px */
  border-radius: 50%;
  border: none;
  cursor: pointer;
  & svg{
    width: 24px;
    height: 24px;
  }
}

.music_album_picture{
  width: 52px;
  height: 52px;
  border-radius: 0.5rem; /* 8px */
  overflow: hidden;
  flex-shrink: 0;
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.adversing_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem; /* 24px */
  width: 100%;
  min-height: 68px;

  background-color: hsla(var(--black), 0.3);
  border-radius: 0.375rem; /* 8px */
}

/**
  /* Making it bigger when it's in homepage
  */

.music_player.is__home{
  padding-block: 1.875rem;

  & .music_album_picture{
    width: 80px;
    height: 80px;
  }

  & .music_play_btn{
    padding: 1.25rem; /* 20px */
    & svg{
      width: 40px;
      height: 40px;
    }
  }
}

/* Tabs Container */

/**
  /* Making the navbar has a background color if there's a tab section
  */

body:has(.tabs_container) .sidebar .sidebar_header{
  background-color: hsla(var(--brand-blue), 0.68);
}

.tabs_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem; /* 12px */
  width: 100%;
}

.tabs_nav{
  background-color: hsla(var(--brand-blue), 0.68);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem; /* 12px */
  width: 100%;
  padding-inline: 1.5rem; /* 24px */
  margin-top: var(--navbar-h, 0);
  color: hsla(var(--white), 1);
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar{
    display: none;
  }
}

.tab_btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* 8px */
  padding: 1rem 0.5rem; /* 8px 16px */
  border-bottom: 2px solid transparent;
  cursor: pointer;

  color: hsla(var(--white), 1);

  font-size: 1.125rem;
  font-weight: 700;

}

.tab_btn.active{
  color: hsla(var(--brand-yellow), 1);
  border-color: hsla(var(--brand-yellow), 1);
}

.tabs_content{
  padding: 1.5rem;
}

/* ----------------- Schedule items ----------------- */

.tabs_content{
  width: 100%;
}

.schedule_list{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.schedule_list[hidden]{
  display: none;
}

.schedule_item{
  display: grid;
  grid-template-columns: 90px 1fr;
  justify-content: flex-start;
  width: 100%;
  background-color: hsla(var(--white), 1);
  border-radius: 0.3125rem; /* 5px */
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  & img{
    width: 90px;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    align-self: stretch;
  }

  & .schedule_content{
    padding: 0.625rem;
    color: hsla(var(--black, 1));
    font-size: 0.75rem;
    width: 100%;
    height: 100%;
  }
}

.schedule_title{
  font-weight: 500;
}

.schedule_description{
  font-weight: 500;
  color: hsla(var(--black), 0.5);
}

.schedule_content_details{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem; /* 8px */
  margin-top: 0.75rem;

  & .schedule_status{
    padding: 0.25rem;
    border-radius: 0.25rem; /* 4px */
    color: hsla(0, 97%, 57%, 1);
    border: 1px solid hsla(0, 97%, 57%, 1);
  }

  & .schedule_time{
    margin-left: auto;
  }
}